/* General Container Styling */
.homepage-container {
  background-color: black;
  color: white;
  padding: 0 20px;
  overflow-x: hidden; /* Prevent horizontal overflow */
  box-sizing: border-box;
}

/* Centered Image Styling */
.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
}

.centered-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Optional for rounded corners */
}

/* Spacer for consistent spacing between components */
.spacer {
  height: 2rem;
}

/* Text Styling */
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.typing-text {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2.3rem;
  font-weight: 600;
  color: #bbbaba;
}

/* Container Styling */
.container1, .container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1480px; /* Set a max-width to prevent overflow */
  border-radius: 10px;
}

.left1, .middle1, .right1,
.left2, .middle2, .right2 {
  flex: 1; /* Distribute evenly */
  background-color: black;
  color: white;
  padding: 20px;
  border: 2px solid white;
  box-sizing: border-box;
}

.left1, .left2 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right1, .right2 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Responsive Design */
@media screen and (max-width: 1100px) {
  .typing-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 885px) {
  .typing-text {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .typing-text {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 420px) {
  .typing-text {
    font-size: 1.4rem;
  }
}
